#содержит описание сервиса и его зависимостей
[Unit]
#задает описание сервиса
Description=Simple Telegram Spring Bot
#определяет зависимости сервиса от других системных служб
After=syslog.target network.target

#определяет параметры для запуска сервиса
[Service]
#указывает код возврата при котором сервис будет считаться успешно завершенным
SuccessExitStatus=322

#указывают от имени какого пользователя и группы будет запущен сервис
User=root
Group=root

#сервис запускается однократно и не поддерживает перезапуск в случае сбоя
Type=simple

# задает команду которая будет выполнена при запуске сервиса. В данном случае запускается процесс Java с параметром jar
ExecStart=java -jar /opt/bots/tg/tg.botError.jar
#пределяет цели которые должны быть выполнены для запуска сервиса. В данном случае сервис будет запущен при запуске многопользовательской системы.
[Install]
WantedBy=multi-user.target